Source: python-opengles
Section: unknown
Priority: optional
Maintainer: unknown <skyostil@unknown>
Build-Depends: debhelper (>= 4.0.0), libgles1-dev
Standards-Version: 3.6.1

Package: python-opengles
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgles1
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
